# System Requirements:
# - OpenSSL 1.0, 1.1, or 3.0+, current(3.0.17) (installed via system package manager)
# - ODBC Driver 18 for SQL Server

# Python packages
pyodbc==5.2.0 #5.0.1
pandas==2.3.2 #2.1.4
azure-identity==1.25.0 #1.15.0